#chart {
  margin: 0px 0px 0px 100px;
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.day {
  fill: #fff;
  stroke: #ccc;
}

rect:hover {
  stroke: #000;
  stroke-width:2;

}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

